@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 30px;
    background-color: white;
    margin: 3px 0;
    transition: all 0.3s ease;
}


@media (max-width: 500px) {
    header.hidden {
        transform: translateY(-100%); 
        transition: transform 0.3s ease; 
    }
    

    .hamburger {
        display: flex; 
    }

    nav {
        display: none; 
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: #1c1c1c;
        z-index: 99;
        flex-direction: column;
        padding-top: 3rem;
    }

    nav.active {
        display: flex; 
    }

    nav a {
        font-size: 2rem;
        margin: 2rem 0;
        text-align: center;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    background-color: #1c1c1c;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #cb0a17;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #cb0a17;
    border-bottom: 3px solid #cb0a17;
}

@media(max-width:995px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #cb0a17;
        border-bottom: 3px solid #cb0a17;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #1c1c1c;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #cb0a17;
    }
}

.contact {
    padding: 20px; 
    max-width: 800px; 
    height: 500px; 
    margin: auto;
    margin-top: 80px;  
    border-radius: 8px;
    overflow: hidden; 
}

.contact-container {
    padding: 10px; 
}

.contact-container h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-container p {
    font-size: 16px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px; 
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    height: 150px; 
}

button.btn {
    width: 100%; 
    background-color: #cb0a17;
    color: #fff;
    padding: 10px; 
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn:hover {
    background-color: #73060d;
}
